.profile {
    display: flex;
    position: relative;
    max-width: 100%;
    padding: 40px 200px 0;
}
@media screen and (max-width: 620px){
    .profile{
        max-width: 100%;
    padding: 40px 19px 0;
    flex-direction: column;
    }
}
