.profile__info-about {
    grid-area: about;
    max-width: 330px;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #FFFFFF;
    
}
@media screen and (max-width: 620px){
    .profile__info-about{
        max-width: 282px;
        text-align: center;
        padding-bottom: 33px;
        font-size: 14px;
        line-height: 1.2;
    }
}