.elements__delete{
    background-image: url(../../../images/delete.svg);
    width: 18px;
    height: 19px;
    background-size: contain;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border-width: 0;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;

}