.profile__info-name {
    grid-area: name;
    max-width: 330px;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.27;
    color: #FFFFFF;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 48px;
    
}
@media screen and (max-width: 620px){
    .profile__info-name{
       max-width: 200px;
       font-size: 27px;
       line-height: 33px;
       text-align: center;
       height: 28px;
       
}
}