.profile__info {
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 24px;
    grid-template-rows: min-content min-content;
    gap: 18px 10px;
    grid-template-areas:
        "name button"
        "about .";
}
@media screen and (max-width: 620px) {
    .profile__info {
        display: flex;
        position: relative;
        flex-direction: column;
       margin: 0 auto;
        row-gap: 14px;
        justify-content: center;
    }
}
