.profile__button_icon-plus {
    background-image: url(../../../../images/plus.svg);
    object-position: center;
    background-color: transparent;
    width: 22px;
    height: 22px;
    align-self: center;
    margin: 14px auto;
    color: white;
}
@media screen and (max-width: 620px){
    .profile__button_icon-plus{
        background-size: 16px;
        width: 16px;
    height: 16px;
    margin: 17px auto;
    }
}